@font-face {
	font-family: 'Lato', sans-serif;
}

html {
	font-family: 'Lato';
}

html, body {
	margin: 0;
	padding: 0;
}

section {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: #fff;
}

h1 {
	-webkit-margin-before: inherit;
	-webkit-margin-after: inherit;
	text-align: center;
}

h2 {
	text-align: center;
}

/* Buttons */

button {
	margin-left: auto;
	margin-right: auto;
	height: 40px;

}

.signup-footer button, .our-member-benefits button, .contact button {
	text-transform: uppercase;
	width: 170px;
	border-radius: 2px;
	color: #fff;
	background-color: #ff5d3b;
	font-weight: 700;
	letter-spacing: 1.5px;
	line-height: 14px;
	font-size: 12px;
	border: inherit;
	margin-top: 20px;
	box-shadow: -1px 1px 2px 0px;
}

.our-member-benefits button {
	margin-left: inherit;
	margin-right: inherit;
}

.banner button, .header button {
	text-transform: uppercase;
	width: 170px;
	border-radius: 2px;
	color: #fff;
	background-color: #ff5d3b;
	font-weight: 700;
	letter-spacing: 1.5px;
	line-height: 14px;
	font-size: 12px;
	border: inherit;
	margin-top: 20px;
}

/* iPhone */

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
	.header-nav {
		display: none;
	}

}

.root {
	flex-direction: column;
}

.main {
	height: auto;
	flex-direction: column;
}

/* Header & Navbar Styles */

.header, .header .content {
	display: flex;
	min-height: 87px;
	width: 100%;
}

.header {
	position: fixed;
	z-index: 1;
}

.header .content {
	margin: 0 auto;
	/*padding: 0 140px;*/
	align-items: center;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
	flex: 0 1 auto;
}

.right-margin, .left-margin {
	width: 140px;
}

.header-logo {
	background-image: url("img/t-c-logo.svg");
	display: flex;
	width: 97px;
	height: 42px;
}

.header-nav {
	text-transform: uppercase;
	display: flex;
	margin-left: auto;
	align-items: center;
}

.header-nav a {
	margin-left: 41px;
}

.hidden {
	display: none;
}

.header-about {
	background-color: #333;
}

#nav-button {
	margin-top: inherit;
	margin-left: 41px;
	height: 35px;
	width: 160px;
}

/* Banner Styles */

.banner h1 {
	font-size: 65px;
}

.banner h1, h2 {
	color: #fff;
}

.banner h2 {
	font-size: 26px;
	line-height: 37px;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 300;
}

.banner {
	height: 644px;
	width: 100%;
	position: relative;
	background-size: 100%;
	background-color: rgba(68, 75, 81, 0.6);
}

.bannerarrow {
	margin-top: 90px;
}

.banner .container {
	padding-top: 90px;
}

/* Move main down due to banner fixed */
.about-page .main {
	margin-top: 87px;
}

/* Video Styling */

.bannervid {
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*min-width: 100vw;*/
    /*min-height: 100%;*/
    width: 100%;
    position: absolute;
    /*height: auto;*/
    z-index: -100;
    /*display: inline-block;*/
    /*-webkit-transform: translateX(-50%) translateY(-50%);*/
    /*transform: translateX(-50%) translateY(-50%);*/
    background: url("img/hero_adj_sm.jpg") no-repeat;
    background-size: cover;
    min-width: 1180px;
}

.vidbackground {
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: -100;
}

/* How it works section styles */

.howitworks {
	padding: 70px 120px;
}

.howitworks h2, .component h2 {
	color: #ff5d3d;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2.5px;
	font-weight: 400;
}

.howitworks h1, .signup-footer h1, .upcomingevents h1, .about-page h1, .contact h1 {
	font-size: 45px;
	line-height: 58px;
	letter-spacing: 2px;
	color: #444b52;
	font-weight: 300;
}

.howitworks .container {
	flex-direction: row;
	/*flex-wrap: wrap;*/
}

.howitworks .component {
	padding-top: 51px;
	max-width: 334px;
	margin: 0 20px;
}

.howitworks .component p {
	text-align: center;
}

/* What to Expect Section Styling */
.whattoexpect {
	background: url("img/video-photo.png");
	align-items: center;
}

.whattoexpect .container {
	padding: 118px 0px;
	width: 580px;
}

.whattoexpect h1 {
	font-size: 45px;
	line-height: 48px;
	letter-spacing: 2px;
	font-weight: 300;
	color: #fff;
}

.whattoexpect p {
	color: #fff;
	font-weight: 400;
	line-height: 35px;
	font-size: 18px;
	text-align: center;
}

.playbutton {
	display: inline-block;
	width: 40px;
	margin-left: 10px;
}

.watchourvideo {
	font-weight: 300;
	font-size: 16px;
	line-height: 36px;
	letter-spacing: 1.5px;
	color: #fff;
}

.watchourvideo-container {
	flex-direction: row;
}

/* Testimonials Section Styling */
.testimonials {
	background: url("img/savor-the-chefs-best.svg") no-repeat;
	background-size: cover;
}

.testimonials .container {
	padding: 70px 0;
}

.testimonials h1 {
	font-size: 45px;
	font-weight: 300;
	color: #fff;
}

/* Slick Carousel Styles */
.testimonials .slick-carousel {
	margin: 0 70px;
	text-align: center;
}

.slick-carousel section{
	display: flex !important;
}

.slick-carousel .component{
	background-color: #fff;
	width: 450px;
	height: 275px;
	margin: 75px 20px;
	flex-direction: row;
	transition: all 300ms ease;
}

.slick-carousel .component:focus {
	outline: none;
}

.slick-carousel .component img {
	width: 250px;
}

.slick-carousel .component p {
	font-size: 10px;
}
.slick-carousel .slick-center {
	transform: scale(1.125);
}

/* Upcoming Events Styling */
.upcomingevents button {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid rgba(68, 75, 81, 0.5);
	width: 236px;
	background-color: #fff;
	border-radius: 4px;
	font-size: 12px;
	letter-spacing: 1.5px;
	color: #444b52;
}

.upcomingevents {
	padding: 70px 0;
}

.upcomingevents .row-container{
	flex-direction: row;
}

/* Signup Footer Styling */
.signup-footer {
	padding: 70px 0;
}

.signup-footer h2 {
	font-size: 18px;
	color: #444b52;
	font-weight: 400;
	line-height: 35px;
}

/* Footer Styling */

.footer-image {
	width: 100%;
	z-index: -1;
}

.footer-image-container {
	background: url("img/footer.png") no-repeat;
	padding: 73px 0;
	background-size: cover;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-nav {
	display: flex;
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 80px;
	margin-left: 110px;
}

.footer-nav a {
	margin-left: 30px;
}

.copyright {
	font-size: 14px;
	margin-left: 140px;
	letter-spacing: 1px;
	color: #fff;
	margin-top: 15px;
	opacity: 0.65;
}

/* About Page - Our Mission */
.our-mission, .our-dining-events, .our-member-benefits{
	flex-direction: row;
	padding: 0 20px;
}

.about-page p {
	max-width: 630px;
	width: 100%;
	font-size: 18px;
	line-height: 35px;
	color: #444b52;
	font-weight: 400;
}

.about-page h1 {
	text-align: inherit;
}

.our-mission .content {
	margin-right: 35px;
	max-width: 630px;
}

.our-mission-img {
	background: url("img/photo-1.png") no-repeat;
	width: 460px;
	height: 500px;
	margin-top: 63px;

}

.our-dining-events-img {
	background: url("img/photo-2.png") no-repeat;
	width: 460px;
	height: 500px;
	margin-right: 35px;
}

.our-member-benefits-img {
	background: url("img/photo-3.png") no-repeat;
	width: 460px;
	height: 500px;
	margin-left: 35px;
	margin-bottom: 70px
}

/* About Page - Picture Carousel */

.selected-picture {
	height: 600px;
	width: 100%;
	justify-content: space-between;
	flex-direction: row;
}

.picture-1 {
	background: url("img/t-c-1.png") no-repeat;
	background-size: cover;
}

.picture-2 {
	background: url("img/t-c-1.png") no-repeat;
	background-size: cover;
}

.picture-3 {
	background: url("img/t-c-1.png") no-repeat;
	background-size: cover;
}

.picture-4 {
	background: url("img/t-c-1.png") no-repeat;
	background-size: cover;
}

.picture-5 {
	background: url("img/t-c-1.png") no-repeat;
	background-size: cover;
}

.carousel-prev, .carousel-next {
	width: 50px;
	height: 100%;
	background-color: #333;
	opacity: 0.68;
	display: flex;
	align-items: center;
	justify-content: center;
}

.prev-arrow, .next-arrow {
	width: 22px;
	height: 22px;
}

.prev-arrow {
	background: url("img/arrow.svg") no-repeat;
}

.next-arrow {
	background: url("img/arrow.svg") no-repeat;
	transform: rotate(180deg);
}

.thumbnail-pictures {
	flex-direction: row;
}

.thumbnail-pictures img {
	width: 288px;
	height: 200px;
	box-sizing: border-box;
	max-width: 100%;
	max-height: 100%;
}

.thumbnail1 {
	/*background: url("img/t-c-thumb-1.png") no-repeat;*/
	max-width: 100%;
	max-height: 100%;
}

.thumbnail2 {
	background: url("img/t-c-thumb-2.png") no-repeat;
}

.thumbnail3 {
	background: url("img/t-c-thumb-3.png") no-repeat;
}

.thumbnail4 {
	background: url("img/t-c-thumb-4.png") no-repeat;
}

.thumbnail5 {
	background: url("img/t-c-thumb-5.png") no-repeat;
}

.thumbnail-active {
	border-bottom: #ff5d3b 3px solid;
}

/* Contact Page Styling */
.contact {
	margin: 70px 0;
	align-items: center;
	padding: 0 15px;
}

.contact button {
	width: 100%;
	max-width: 640px;
}

.contact input {
	text-transform: uppercase;
	max-width: 620px;
	width: 100%;
	height: 38px;
	background-color: #fff;
	border-radius: 2px;
	border-color: #ededed;
	margin-bottom: 20px;
	border-style: solid;
	padding-left: 15px;
	color: #d8d8d8;
	font-size: 14px;
}

.contact input:focus {
	outline: none;
}

.contact .lg {
	padding-bottom: 114px;
}

.contact p {
	max-width: 630px;
	font-weight: 400;
	font-size: 18px;
	color: #444b52;
	text-align: center;
	margin-bottom: 40px;
	-webkit-margin-before: initial;
	margin-top: -40px;
}

.root .contact {
	align-content: space-between;
}
/* Social Nav */
.social-nav div{
	display: inline-block;
	margin-right: 30px;
}

.social-nav {
	margin-top: 80px;
	margin-right: 110px;
}

.facebook {
	background: url("img/facebook.svg") no-repeat;
	width: 40px;
	height: 40px;
}

.instagram {
	background: url("img/instagram.svg") no-repeat;
	width: 40px;
	height: 40px;
}

.email {
	background: url("img/email.svg") no-repeat;
	width: 40px;
	height: 40px;
}

.twitter {
	background: url("img/twitter.svg") no-repeat;
	width: 40px;
	height: 40px;
}
