@font-face {
	font-family: 'Lato', sans-serif;
}

html {
	font-family: 'Lato';
}

html, body {
	margin: 0;
	padding: 0;
}

section {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: #fff;
}

h1 {
	-webkit-margin-before: inherit;
	-webkit-margin-after: inherit;
	text-align: center;
}

h2 {
	text-align: center;
}

button {
	margin-left: auto;
	margin-right: auto;
	height: 40px;

}

.signup-footer button {
	text-transform: uppercase;
	width: 170px;
	border-radius: 2px;
	color: #fff;
	background-color: #ff5d3b;
	font-weight: 700;
	letter-spacing: 1.5px;
	line-height: 14px;
	font-size: 12px;
	border: inherit;
	margin-top: 20px;
	box-shadow: -1px 1px 2px 0px;
}

.banner button, .header button {
	text-transform: uppercase;
	width: 170px;
	border-radius: 2px;
	color: #fff;
	background-color: #ff5d3b;
	font-weight: 700;
	letter-spacing: 1.5px;
	line-height: 14px;
	font-size: 12px;
	border: inherit;
	margin-top: 20px;
}

.root {
	flex-direction: column;
}

.main {
	height: auto;
	flex-direction: column;
}

/* Header & Navbar Styles */

.header, .header .content {
	display: flex;
	min-height: 87px;
	width: 100%;
}

.header {
	position: fixed;
	z-index: 1;
}

.header .content {
	margin: 0 auto;
	/*padding: 0 140px;*/
	align-items: center;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
	flex: 0 1 auto;
}

.right-margin, .left-margin {
	width: 140px;
}

.header-logo {
	background-image: url("img/t-c-logo.svg");
	display: flex;
	width: 97px;
	height: 42px;
}

.header-nav {
	text-transform: uppercase;
	display: flex;
	margin-left: auto;
	align-items: center;
}

.header-nav a {
	margin-left: 41px;
}

.hidden {
	display: none;
}

#nav-button {
	margin-top: inherit;
	margin-left: 41px;
	height: 35px;
	width: 160px;
}

/* Banner Styles */

.banner h1 {
	font-size: 65px;
}

.banner h1, h2 {
	color: #fff;
}

.banner h2 {
	font-size: 26px;
	line-height: 37px;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 300;
}

.banner {
	height: 644px;
	width: 100%;
	position: relative;
	background-size: 100%;
	background-color: rgba(68, 75, 81, 0.8);
}

.bannerarrow {
	margin-top: 90px;
}

.banner .container {
	padding-top: 90px;
}

/* Video Styling */

.bannervid { 
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*min-width: 100vw;*/
    /*min-height: 100%;*/
    width: 100%;
    position: absolute;
    /*height: auto;*/
    z-index: -100;
    /*display: inline-block;*/
    /*-webkit-transform: translateX(-50%) translateY(-50%);*/
    /*transform: translateX(-50%) translateY(-50%);*/
    background: url("img/hero_adj_sm.jpg") no-repeat;
    background-size: cover;
    min-width: 1180px;
}

.vidbackground {
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: -100;
}

/* How it works section styles */

.howitworks {
	padding: 70px 120px;
}

.howitworks h2, .component h2 {
	color: #ff5d3d;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2.5px;
	font-weight: 400;
}

.howitworks h1, .signup-footer h1, .upcomingevents h1 {
	font-size: 45px;
	line-height: 58px;
	letter-spacing: 2px;
	color: #444b52;
	font-weight: 300;
}

.howitworks .container {
	flex-direction: row;
	/*flex-wrap: wrap;*/
}

.howitworks .component {
	padding-top: 51px;
	max-width: 334px;
	margin: 0 20px;
}

.howitworks .component p {
	text-align: center;
}

/* What to Expect Section Styling */
.whattoexpect {
	background: url("img/video-photo.png");
	align-items: center;
}

.whattoexpect .container {
	padding: 118px 0px;
	width: 580px;
}

.whattoexpect h1 {
	font-size: 45px;
	line-height: 48px;
	letter-spacing: 2px;
	font-weight: 300;
	color: #fff;
}

.whattoexpect p {
	color: #fff;
	font-weight: 400;
	line-height: 35px;
	font-size: 18px;
	text-align: center;
}

.playbutton {
	display: inline-block;
	width: 40px;
	margin-left: 10px;
}

.watchourvideo {
	font-weight: 300;
	font-size: 16px;
	line-height: 36px;
	letter-spacing: 1.5px;
	color: #fff;
}

.watchourvideo-container {
	flex-direction: row;
}

/* Testimonials Section Styling */
.testimonials {
	background: url("img/savor-the-chefs-best.svg");
}

.testimonials .container {
	padding: 70px 0;
}

.testimonials h1 {
	font-size: 45px;
	font-weight: 300;
	color: #fff;
}

/* Upcoming Events Styling */
.upcomingevents button {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid rgba(68, 75, 81, 0.5);
	width: 236px;
	background-color: #fff;
	border-radius: 4px;
	font-size: 12px;
	letter-spacing: 1.5px;
	color: #444b52;
}

.upcomingevents {
	padding: 70px 0;
}

.upcomingevents .row-container{
	flex-direction: row;
}

/* Signup Footer Styling */
.signup-footer {
	padding: 70px 0;
}

.signup-footer h2 {
	font-size: 18px;
	color: #444b52;
	font-weight: 400;
	line-height: 35px;
}

/* Footer Styling */

.footer-image {
	width: 100%;
	z-index: -1;
}

.footer-image-container {
	background: url("img/footer.png") no-repeat;
	padding: 73px 0;
	background-size: cover;
}

.footer-nav {
	display: flex;
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 80px;
	margin-left: 110px;
}

.footer-nav a {
	margin-left: 30px;
}

.copyright {
	font-size: 14px;
	margin-left: 140px;
	letter-spacing: 1px;
	color: #fff;
	margin-top: 15px;
	opacity: 0.65;
}


